---
---

$col1: #123;//#102030;
$col2: #182838;//#152535;


h1,h2 {text-align: center;}

h1,h3 {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  width: 40%;
  color: #94724D;
  margin-bottom: 3rem;
}

body {
  word-wrap: break-word;

  background-color: black;
  background-image: url("./header_v2.png");
  background-repeat: no-repeat;
  background-size: 100% auto;

  color: #abaaa8;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1.2rem;
  line-height: 1.6;

  a {
    color: aliceblue;
  }
}

#backdrop {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 0;
  background: $col1;

  display: grid;
  grid-template-columns: 1100px auto;
  border: 2px solid #94724D;
  border-top: none !important;
  border-bottom: none !important;

  #root {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 0.5rem;

    .replies .comment {
      margin-left: 0.5rem;

      margin-bottom: 1rem;
    }

    .name {
      cursor: pointer;
      color: #94724D;
    }

    .comment {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;

      border: 2px solid #94724D;
      box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    }
  }

  .comment {
    background: $col1;
  }

  {% for i in (0..20) %}
    {% assign line = ".comment" %}

    {% for o in (0..i) %}
      {% assign line = line | prepend: ".comment .replies " %}
    {% endfor %}

    {{line}} {
      {% assign cycle = i | modulo: 2 %}
      {% if cycle != 0 %}
        background: $col1;
      {% else %}
        background: $col2;
      {% endif %}
      }

  {% endfor %}
}


#rightpane {
  position: sticky;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;

  background: $col1/1.5;
  margin: 0;

  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 2px solid #94724D;

  #title {
    flex-grow: 1;

    #logo {
      display: block;
      max-width: 80%;

      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
      filter: brightness(2);
    }
  }

  #sidebar {
    display: flex;
    flex-direction: column;

    #top {
      margin-bottom: 0.5rem;
    }

    .flexer {
      display: flex;

      input[type="text"] {
        flex-basis: 100%;
      }
    }

    #controls {
      display: flex;
      align-items: center;

      margin-top: 0.5rem;

      span {
        font-weight: bold;
        margin-left: 1rem;
        margin-right: 1rem;
        cursor: pointer;
        font-size: 1.4rem;
      }

      #currpage {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 15%;
      }
    }
  }
}
